*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-primary-dark);
}

// Container
.container {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
